/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #F05; color: #fff; text-shadow: none; }
::selection { background: #F05; color: #fff; text-shadow: none; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

figure { margin: 0; }



body, select, input, textarea {
  color: #555;
  font-family: 'Runda', "runda-1","runda-2", 'Helvetica Neue', Arial, sans-serif;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }





body {
  background: white;
  font-size: 14px;
  line-height: 1.6em;
}

    
h1, h2, h3 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 28px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

.wf-active h1 {
  letter-spacing: -0.02em;
}

h2 {
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  color: #999;
}

p, ul, ol, pre, article iframe, blockquote {
  margin: 0;
  margin-bottom: 1.0em;
}

.transitions-ready a {
  -webkit-transition: color 3.0s linear;
     -moz-transition: color 3.0s linear;
       -o-transition: color 3.0s linear;
          transition: color 3.0s linear;
}


a, a:visited { 
  color: #F05; 
  text-decoration: none;
}
a:hover {
  color: #036;
  border-bottom: 1px solid;
}
a:active { background: white; }

p a { font-weight: 500;}

/**** Layout ****/

#wrap {
  max-width: 588px;
  padding: 10px;
  padding-bottom: 3.0em;
}

/**** Masthead ****/

#masthead {
  padding: 10px 0;
  position: relative;
}

#masthead h1 {
  font-size: 32px;
  margin-bottom: 0.1em;
}

#masthead h2 {
  font-size: 16px;
  font-style: italic;
  color: #CCC;
  font-weight: 400;
}

#masthead ul {
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: 48px;
  font-size: 0.95em;
}

/**** Layout ****/

#masthead, article {
  border-bottom: 4px double #DDD;
  
}

article {
  padding: 30px 0;
}


.date {
  margin-bottom: 0.5em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


blockquote {
  padding: 10px;
  font-style: italic;
}
blockquote p:last-child { margin-bottom: 0; }

.link h2 {
  font-weight: 500;
  font-size: 18px;
}

article img {
  display: block;
  max-width: 100%;
}

/* Pagination */

#pagination {
  position: relative;
  margin-top: 3.0em;
}

#pagination .current {
  text-align: center;
  font-style: italic;
}

#pagination .next,
#pagination .previous {
  font-size: 14px;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#pagination .previous { left: 0; }
#pagination .next { right: 0; }


/* code */

pre { 
  padding: 10px;
  background: black;
  color: white;
}

code { font-size: 12px; }

/* Pygments */


code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */
  





@media screen and (min-width: 720px) {
  #wrap {
    margin-left: 15%;
  }
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

