
<article class="{{ post.category }}">
  <p class="date"><a href="{{ post.url }}"><time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date:'%d %b %Y' }}</time></a></p>
  
  {% if post.category == 'link' %}
    <h2><a href="{{ post.link_url }}">{{ post.title }}</a></h2>
  {% else %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  {% endif %}

  <div class="content">
    {% if single_post %}
      {{ content }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>
</article>
